html, body, #root {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  color: var(--black);
}

:root {
  --white: #F2F2F2;
  --black: #363636;
  --lightGreen: #83D2C9;
  --green: #038575;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mode-menu {
  width: 440px;
  /* height: px; */
  margin-top: 8px;
  /* background-color: gray; */
  font-size: 13pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mode-content {
  width: 68%;
  height: 100%;
  /* background-color: blue; */
  font-size: 15pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mode-option {
  padding: 2px 8px 2px 8px;
  /* background-color: gray; */
  color: #8E8E8E;
  border-radius: 4px;
  transition-duration: 150ms;
}

.mode-option:hover, .selected {
  /* color:#026458;
  background-color: var(--lightGreen); */
  color: var(--white);
  background-color: var(--green);
  cursor: pointer;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 660px;
}

.content {
  font-family: "Open Sans";
  width: 90%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30pt;
  cursor: default;
}

.description {
  cursor: default;
  color: #5f5f5f;
}

.search-bar {
  margin-top: 20px;
  margin-left: -5px;
  width: 550px;
  height: 42px; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 0;
  border-style: none;
}

.search-input{
  width: 490px;
  height: 36px;
  font-size: 12pt;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #b7b7b7;
}

.search-input:focus {
  outline-color: var(--green);
}

.search-button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border-style: none;
  /* background-color: var(--green); */
  background-color: #05b5a1;
  transition-duration: 120ms;
}

.search-button:hover {
  /* background-color: #026458; */
  background-color: var(--green);
  cursor: pointer;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 400px;
}

.search-result {
  width: 100%;
  height: 250px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px 0px rgb(185, 185, 185);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
}

.search-result:hover {
  box-shadow: 0px 2px 5px 2px rgb(185, 185, 185);
  cursor: pointer;
}

.search-image-holder {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-image {
  width: auto;
  height: 95%;
}

.search-result-content {
  width: 70%;
  height: 100%;
  background-color: white;
}

p {
  height: 60%;
  overflow: hidden;
}

h5 {
  margin-top: -15px;
  color: #818181;
}


@media screen and (width <= 1250px) {
  .search-results {
    width: 100%;
    max-width: 700px;
    min-width: 600px;
  }
  .search-image-holder {
    width: 160px;
  }
}
@media screen and (width > 1250px) {
  .search-result {
    width: 48%;
    max-width: 700px;
  }
  .search-image-holder {
    width: 140px;
  }
}

.highlight {
  background-color: var(--lightGreen);
  color: #026458;
}

.spacer {
  width: 100%;
  height: 70px;
}